DATABASE_URL=postgresql://postgres:PG4ADMIN4PASSWORD@localhost:5432/insighthub
sqlalchemy.url = postgresql://postgres:PASSWORD@localhost:5432/insighthub
SECRET_KEY=this466key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
